<div class="grid">
  <div class="w-full">
    <div class="flex justify-center items-center text-center">
      <!-- LOGIN -->
      @if (showLoginCard) {
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card header="Login" subheader="Faça login com sua conta existente!" styleClass="mt-10">
          <div class="flex justify-center items-center text-center">
            <input
              type="email"
              pInputText
              placeholder="Email"
              formControlName="email"
              autocomplete="username"
            />
          </div>
          <small
            class="p-error !text-sm text-red-500 flex justify-start !pl-5 !py-1"
            *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
          >
            {{ getFormError('email') }}
          </small>

          <div class="flex justify-center items-center text-center !mt-2">
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"
              autocomplete="current-password"
            />
          </div>
          <small
            class="p-error !text-sm text-red-500 flex justify-start !pl-5 !py-1"
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
          >
            {{ getFormError('password') }}
          </small>

          <div class="card flex justify-center !mt-3">
            <button type="submit" pButton pRipple [disabled]="!loginForm.valid">Login</button>
          </div>

          <span
            class="flex justify-center items-center text-center !mt-2 text-red-600 font-semibold"
            (click)="alternateShowLoginCard()"
            (keydown.enter)="alternateShowLoginCard()"
            (keydown.space)="alternateShowLoginCard()"
            tabindex="0"
            style="cursor: pointer"
            >Criar Conta
          </span>
        </p-card>
      </form>
      }
      <!-- SIGNUP -->
      @if (!showLoginCard) {
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
        <p-card header="Criar conta" subheader="Crie já sua conta gratuita!" styleClass="mt-10">
          <div class="flex justify-center items-center text-center">
            <input
              type="text"
              pInputText
              placeholder="Nome"
              formControlName="name"
              autocomplete="name"
            />
          </div>
          <small
            class="p-error !text-sm text-red-500 flex justify-start !py-1"
            *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.invalid"
          >
            {{ getFormError('name') }}
          </small>
          <div class="flex justify-center items-center text-center !mt-2">
            <input
              type="email"
              pInputText
              placeholder="Email"
              formControlName="email"
              autocomplete="username"
            />
          </div>
          <small
            class="p-error !text-sm text-red-500 flex justify-start !py-1"
            *ngIf="email?.touched && email?.invalid"
          >
            {{ getFormError('email') }}
          </small>

          <div class="flex justify-center items-center text-center !mt-2">
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"
              autocomplete="new-password"
            />
          </div>
          <small
            class="p-error !text-sm text-red-500 flex justify-start !py-1"
            *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"
          >
            {{ getFormError('password') }}
          </small>

          <div class="card flex justify-center !mt-3">
            <button type="submit" pButton pRipple [disabled]="!signupForm.valid">
              Criar conta
            </button>
          </div>

          <span
            class="flex justify-center items-center text-center !mt-2 text-red-600 font-semibold"
            (click)="alternateShowLoginCard()"
            (keydown.enter)="alternateShowLoginCard()"
            (keydown.space)="alternateShowLoginCard()"
            tabindex="0"
            style="cursor: pointer"
            >Fazer Login
          </span>
        </p-card>
      </form>
      }
    </div>
  </div>
</div>
